.main--articles {
    
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 24px;
    margin-top: 2%;
    background-color: burlywood;
    border: black solid 1px;
    border-radius: 0.5rem;

    @media all and (min-width: 950px) and (max-width: 1024px){
        justify-content: space-around;

        .article {
            width: 30%;
        }
    }

    @media all and (min-width: 900px) and (max-width: 950px) {
        justify-content: space-around;

        .article {
            width: 40%;
        }
    }

    @media all and (min-width: 600px) and (max-width: 900px) {
        justify-content: space-around;

        .article {
            width: 40%;
        }
    }
    @media all and (min-width: 200px) and (max-width: 600px) {
        justify-content: space-around;

        .article {
            width: 100%;
        }
    }
}
