.offScreen {
    width: auto;
    margin: auto;
}

.main--cart {
    width: 100%;
    
}

.CartContent {
    margin: 0;
    padding: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cartTotals {
    width: 90%;
    margin: auto;
    display: flex;
    padding: 2px;
    flex-direction: column;
    align-items: center;
    font-weight: bold;
    background-color: antiquewhite;
    color: black;
}

.cart {
    width: 100%;
}

.cartSubmit {
    width: 30%;
}