footer {
    width: 100%;
}

.footMain {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}

.footOne {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footTwo {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
}
